@import "sass/utilities/_all.sass";

$body-background-color: $black;
$background: $grey-darker;
$footer-background-color: $background;
$title-color: $white;
$subtitle-color: $white-ter;
$subtitle-strong-color: $white-ter;
$text: $white;
$text-light: lighten($text, 10);
$text-strong: darken($text, 5);
$link: $info;
$link-invert: $body-background-color;
$link-visited: $link;
$link-hover: $warning;
$card-color: $body-background-color;
$card-header-color: $card-color;

@import "bulma.sass";
