// first
@import "sass/utilities/_all.sass";

$body-background-color: #000;
$background: $grey-darker;
$footer-background-color: $background;
$title-color: $white;
$subtitle-color: $white-ter;
$subtitle-strong-color: $white-ter;
$text: $white;
$text-light: lighten($text, 10);
$text-strong: darken($text, 5);

// Link colors

$link: $info;
$link-invert: $black;
$link-visited: $link;
$link-hover: $warning;

$menu-item-color: $black;
$menu-item-active-background-color: $info;

$card-color: $black;
$card-header-color: $black;

.card-footer-item > a {
  color: $black;
}

.card-footer-item > a:hover {
  color: $info;
}

// last
@import "bulma.sass";

fieldset > legend {
  color: $body-background-color;
}

fieldset {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.has-pointer {
  cursor: pointer;
}
