// first
@import "sass/utilities/initial-variables.sass";

$body-background-color: #000;
$background: $grey-darker;
$footer-background-color: $background;
$title-color: $white;
$subtitle-color: $white-ter;
$subtitle-strong-color: $white-ter;
$text: $white;
$text-light: lighten($text, 10);
$text-strong: darken($text, 5);

// last
@import "bulma.sass";
