{
  "semi": false,
  "trailingComma": "es5",
  "arrowParens": "always",
  "overrides": [
    {
      "files": "tags/*.tag",
      "options": { "parser": "html" }
    },
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    }
  ]
}
