{
  "semi": false,
  "trailingComma": "all",
  "arrowParens": "always",
  "overrides": [
    {
      "files": "**/*.tag",
      "options": {
        "parser": "html"
      }
    },
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    }
  ]
}
